@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        Süpersin! ;)
        <br />

        Kullanıcı alanına git => @Html.ActionLink("Kullanıcı","Users")
    </div>
</body>
</html>
